<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <div class="header">
      <h2>Welcome to Code Xperts Chat!</h2>
      <div class="notification-icon">
        <i class="fas fa-bell"></i>
        <span id="notification-badge" class="notification-badge hidden">0</span>
      </div>
    </div>
    
    
    <div class="container">
      <div class="sidebar">
        <div class="sidebar-content">
          <div class="search-bar">
            <input id="searchInput" type="text" placeholder="Search or start a new chat" style="width: 90%; padding: 0.5rem; border-radius: 5px; border: 1px solid #ccc;" />
          </div>
          <ul id="userList" class="user-list"></ul>
        </div>
        <!-- <div class="create-room">
          <button id="createRoomBtn" class="create-room-btn">Create Room</button>
        </div> -->
        <div id="currentUserBox">
          <span id="currentUserName"></span>
          <button id="logoutBtn" class="logout-btn">Logout</button>
        </div>
      </div>
      <div class="chat-area">
        <div class="chat-header">
          <div id="selectedUserName" class="selectedUserName"></div>
        </div>
        <ul id="messages"></ul>
      </div>
    </div>
    <form id="form" action="">
      <input id="input" autocomplete="off" placeholder="Type a message..." />
      <button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const CURRENT_USER = "<%= username %>";
      const CURRENT_USER_ID = "<%= userId %>";
    </script>
    <script src="/script.js"></script>
  </body>
</html>